.site-header {
	padding: 			20px 0;
	background-color: 	#ffffff;
}

.site-branding {
	text-align: 		center;
}

.site-title {
	font-family: 		"Roboto", Helvetica, Arial, sans-serif;
	@include 			font-size(36);
	font-weight: 		400;
	margin: 			0;
	line-height: 		80px;
}

.site-title a,
.site-title a:hover {
	color: 				$heading-font-color;
	text-decoration: 	none;
}

.wp-custom-logo .site-title {
	display: 			none;
	visibility: 		hidden;
}

.site-description {
	line-height: 		30px;
	margin: 			0;
	font-style: 		italic;
	color: 				$secondary-color;
	text-align: 		center;
}

.custom-logo {
	height: 			80px;
	max-height: 		80px;
	width: 				auto;
}

@media (min-width: $small-screen) {
	.site-header {
		padding: 			25px 0;
	}

	.site-branding {
		float: 				left;
		text-align: 		left;
	}

	.site-description {
		float: 				right;
		text-align: 		left;
		line-height: 		80px;
	}
}