/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

@import "mobile";

/* Header Navigation
--------------------------------------------- */

#site-navigation {
	background-color: 		#333;

	a {
		text-shadow: 		0 1px 1px rgba(0,0,0,0.8);
	}

	& > li:hover a,
	& a:hover,
	& .current-menu-item > a {
		background-color:	#222;
	}
}

/* Footer Navigation
--------------------------------------------- */

.site-footer {

	.nav-menu {

		a {
			color: 			$gray-light;
		}

		& > li:hover a,
		& a:hover,
		& .current-menu-item > a {
			color: 			$gray-light;
		}
	}

}